.tilt {
   background-image: linear-gradient(
    to right top,
    #2c81ff,
    #4a6df4,
    #6257e6,
    #763cd5,
    #8608c0
  );
  display: flex;
}

.logo {
   padding: 15px;
   justify-content: center;
   align-items: center;
}