body {
  height: 100vh;
  margin: 0;
  font-family:  "Sans", "Ubuntu", "Oxygen", "Segoe UI", "Roboto", 
     "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: linear-gradient(
    to right top,
    #348AC7,
    #F2F2F2
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

